.google-logo {
  margin-left: 10px;
}

.heading {
  border-bottom: 1px solid #e1e1e1;
}

.heading h1 {
  color: #d93025;
  font-size: 20px;
  font-weight: 500;
  margin: 25px 35px;
}

.form__container {
  max-width: 800px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
}

.text_advanced {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
}

.advanced__row {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
}

.row__left {
  font-size: 13px;
}

.row__right input {
  width: 554px;
  border: 1px solid #d9d9d9;
  padding: 8px 10px;
}

@media screen and (max-width: 600px) {
  .row__right input {
    width: 250px;
  } 
}

.row__right input:focus {
    outline: none;
}

.advanced__btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: auto;
}
