*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* utility classes */
:root {
    --gray-100: #f8f9fa;
}

.navigation__container {
    padding: 6px;
    display: flex;
    justify-content: flex-end;
}

.navigation__list {
    display: flex;
    align-items: center;
    gap: 15px   ;
    list-style: none;
    padding-right: 10px;
}

.navigation__list li a {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    font-size: 13px;
}

.navigation__list li a:hover {
    text-decoration: underline;
}

.navigation__profile__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.main__logo {
    display: flex;
    justify-content: center;
}

.main__logo_img {
    width: 300px;
}

.main__search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.main__search {
    max-width: 584px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px 0 14px;
}

.main__search:hover {
    box-shadow: 0 1px 1px 0 rgba(189, 195, 198, 0.3), 0 1px 3px 1px rgba(190, 198, 204, 0.15);
}

.search_icon {
    color: #9aa0a6;
    fill: currentColor;
    padding-right: 13px;
}

.search__input {
    border: none;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    margin-bottom: 4px;
    width: 443px;
}

@media (max-width: 768px) {
    main {
        padding-top: 100px;
    }
    .main__logo_img{
        width: 100px;
    }
    .main__search {
        width: 100%;
    }

    .search__input {
        width: 100%;
    }
}

.search__right__buttons {
    display: flex;
}

.search__right__buttons span {
    padding: 0 8px;
}

.search__audio, .search__camera {
    width: 24px;
    height: 24px;
}

.search__input:focus {
    outline: none;
}

.main__search__buttons {
    padding-top: 18px;
}

.search__button {
    padding: 0 16px;
    background-color: var(--gray-100);
    font-size: 14px;
    margin: 11px 4px;
    border: 1px solid var(--gray-100);
    border-radius: 4px;
    color: #3c4043;
    height: 36px;
    cursor: pointer;
    text-align: center;
}

.search__button a {
    text-decoration: none;
    color: inherit;
}

.search__button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px 0 rgba(189, 195, 198, 0.3), 0 1px 3px 1px rgba(190, 198, 204, 0.15);
}

.footer__container {
    margin-top: auto;
    background-color: #f2f2f2;
}

.footer-top {
    padding: 15px 30px;
    color: #70757a;
    border-bottom: 1px solid #dadce0;
    position: absolute;
    bottom: 0;
    width: 100%;
} 